
.Rproj.user/36BD6352/jobs/215ACC75-output.json
.Rproj.user/36BD6352/jobs/4BF79F67-output.json
.Rproj.user/36BD6352/sources/prop/D1138058
.Rproj.user/36BD6352/sources/prop/INDEX
.Rproj.user/36BD6352/sources/session-befe85bb/80B59C5B-contents
.Rproj.user/36BD6352/sources/session-befe85bb/D29C6764
.Rproj.user/36BD6352/sources/session-befe85bb/D29C6764-contents
.Rproj.user/36BD6352/sources/session-befe85bb/lock_file
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/c361m1l2x0awg/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cbex97tg56tzg/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cdc4j9fkeb4ty/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000012.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000013.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000013.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000013.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cfdu0qsaxtkmo/000011.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/chunks.json
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c0cbtsjg9pgxv/00002a.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c0cbtsjg9pgxv/00002b.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c0cbtsjg9pgxv/00002b.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c0cbtsjg9pgxv/00002b.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c1sw0al01vil2/000011.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c3z7n97cm8bz3/00001b.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cbnpzat0257ls/000011.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/ccq6oaynsoojd/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cfrqpyykoonkj/00001b.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cfrqpyykoonkj/00001c.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cfrqpyykoonkj/00001c.rdf
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/chunks.json
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/csyo1irl2d3yu/000021.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/csyo1irl2d3yu/000022.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/csyo1irl2d3yu/000022.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/csyo1irl2d3yu/000022.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cyufnsz8ijkzk/000011.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/00001f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/c361m1l2x0awg/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cbex97tg56tzg/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cdc4j9fkeb4ty/00000f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cefig2ncy5lx5/00001f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cefig2ncy5lx5/000020.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cefig2ncy5lx5/000020.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cefig2ncy5lx5/000020.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/s/cfdu0qsaxtkmo/000011.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/00001f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.snapshot
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/00001f.csv
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.metadata
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.png
.Rproj.user/shared/notebooks/250E65AD-TP1/1/36BD6352befe85bb/cefig2ncy5lx5/000020.snapshot
